.App {
  text-align: center;
}

.alert-button {
  background-color: #282c34;
  border: transparent;
  width: 70px;
  height: 40px;
  padding: 5px;
  font-weight: bold;
  color: aliceblue;
  cursor: pointer;
}
